body {font-size:14px;font-family: Georgia, "Microsoft YaHei", serif;}
div,span,li,ul,code,pre,img,blockquote,a,dl,dt,dd{margin:0;padding:0;border:0}
h1 {font-family: Georgia,serif,"Microsoft YaHei";font-size: 2em;color:black;padding:5px;margin:0}
h2 {font-family: Georgia,serif,"Microsoft YaHei";font-size: 1.2em;color:black;padding:5px;margin:0}
a{color: #1863A1;text-decoration: none;}
a:hover{color:#0181EB;text-decoration:underline;}
ol,ul{list-style-position:inside;}
dl {padding-bottom:0.5em;overflow:hidden;}
dd {padding-left:1.2em;line-height:1.4em;}
dd span {padding-right:10px;color:#999;font-family: "Galdeano","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
p{padding:0.4em 0.1em;}
blockquote{display: block;text-align: justify;border-left: 4px solid #DDD;margin: 1em 0em;padding-left: 1.5em;}
blockquote p{margin:0;padding:0;}
#container {width:600px;margin:0 auto;padding-top:25px;}
#header {border-bottom: 1px solid #CCC;padding:.5em 0;}
#nav {width:120px;margin-left:-160px;padding-right:40px;;float:left;font-family: Georgia,serif,"Microsoft YaHei";font-size: 1.1em;text-transform: uppercase;}
#nav li,#nav ul{list-style:none;}
#nav li a{display:block;padding: .7em 1em;color:#000}
#nav li a:hover{background:#1863a1;color:#fff;text-decoration: none;}
#article {padding:.5em 0.4em;font-size:16px;}
#article img{border:1px solid #999;}
