---
layout: index
title: 首页
---

<div class="main clearfix">
	<div class="article">
			<h1>@蜗眼</h1>
			<div>
				<p>这里是<strong>蜗眼</strong>同志在互联网上的一个栖息地。他好不容易才找到这样一个净土，就不要再驱赶他了吧！</p>	
				<p><strong>蜗眼</strong> 是一个刚出道不久的前端工程师。他入世不深还很菜，他有时候有点高傲，有的时候给人的感觉有点自大。在这里我恳请大家能原谅他的高傲，原谅大的自大。他最大的弱点就是不大擅长表达自己，同时也不大擅长表达技术，有的的东西他会用，但是要让它说出个所以然，可能他就说不出来了，同样在这里我恳请大家原谅他的不擅表达。</p>
			</div>
	</div>
					<div class="article">
						<h2>关于作者</h2>
						<div>
							<p><strong>蜗眼：</strong><br/>[从蜗牛的眼睛里看世界，蜗牛虽然小但是眼外的世界同样是那么五彩缤纷！]</p>
						</div>
						<div class="aside">
							人生在世也就那么几十年，是荒废着过还是充实着过，就看你自己了！
						</div>
					</div>
				
					<div class="article">
						<div><ul>
						<li><a href="https://github.com/CNEYE/Tiny" target="_blank">Tiny模版</a> （一个简单的基于smarty语法的模版引擎）</li>
						<li><a href="https://github.com/CNEYE/Jot" target="_blank">Jot 选择器</a> （一个简单实用的dom选择器）</li>
						</ul>
						</div>
					</div>
</div>

<div class="new">最新文章</div>
<div class="article post">
{% for post in site.posts offset:1 limit:1 %}
	<h1>{{ post.title }}</h1>
	
	<div class="article">
		{{ post.content}}
		<div class="aside">
			<ul>	
				<li>时间: {{ post.date | date:"%B %b, %Y" }}</li>
				<li>分类：{{ post.category }}</li>
				<li>标签：{{ post.tags }}</li>
			</ul>
		</div>
	</div>
{% endfor %}
</div>
<div class="alist">
	<h3>文章列表</h3>
	<ul>
		{% for post in site.posts offset:0 %}
			<li><a href="" >{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
