<div class="nav" >
	<dl class="categorys">
		<dt class="title"><a href="/">home</a></dt>
		<dt class="title "><a href="Projects.html">projects</a></dt>
		<dt class="title "><a href="Contact.html">Contact</a></dt>
		<dt class="title "><a href="About.html">about</a></dt>
		<dt>Category</dt>
		{% for category in site.categories %}
			<dd><a href="/categorys/?id={{ category | first }}" >{{ category | first }} <span>({{ category | last | size }})</span></a></dd>
		{% endfor %}
	</dl>
	<dl class="tags">
		<dt>Tags</dt>
		{% for tag in site.tags %}
		<dd><a href="/tags/?id={{ tag | first }}">{{ tag | first }} <span>({{ tag | last |size}})</span></a></dd>
		{% endfor %}
	</dl>
	<dl class="links">
		<dt>Links</dt>
		<dd><a href="http://jayli.github.com/blog/" target="_blank" title="淘宝前端工程师:拔赤">Jayli</a></dd>
		<dd><a href="http://bonsaiden.github.com/JavaScript-Garden/zh/" target="_blank" title="JavaScript 秘密花园">JS-Garden</a></dd>
	
	</dl>
</div>